.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
	border: none;
}

.navbar{
    min-height: 0;
}


.row{
	margin: 0;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.imgSlideshow {
    height: 400px;
    background-size: contain !important;
}

div#slideshow {
    background: #FFF;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    padding: 0;
}

div#imgQuemSomos div {
    height: 400px;
    background-size: contain !important;
}

footer{
    border-top: 2px solid #ccc;
    margin-top: 40px;
}

.marginBottom{
    margin-bottom: 10px;
}

.semPadding{
    padding: 0;
}

.infoVaga {
    padding: 0;
    padding-right: 15px;
}

.infoVaga:nth-child(2n) {
    padding-right: 0px;
}

div#imgEmpresa {
    height: 200px;
    background-size: contain !important;
    width: 100%;
    margin-bottom: 20px;
}

.marginTop {
  margin-top: 10px;
}

textarea{
    height: 150px !important;
}

.vaga span {
    display: block;
}

.noPadding{
    padding: 0;
}

p {
    margin: 0 !important;
}