/*MEDIA QUERIES*/


/*rgb(91, 160, 145) COR ANTIGA*/


/*rgb(31, 80, 119) NOVA COR*/


/*@media screen and (max-width: 600px) { 
	}*/


/* DESKTOPS AND LARGES */

@media screen and (min-width: 980px) {
  div#infoEmprego span {
    display: -webkit-box;
  }
  .imgSlideshow {
    background-size: cover !important;
    width: 100%;
    height: 450px;
  }
  div#informacoesEmprego {
    padding-right: 0px;
  }
  div#copyright {
    text-align: center;
  }
  div#autorSite {
    text-align: right;
    background-color: white;
    color: initial;
    padding: 10px 0 10px 0;
  }
  div#autorSite a {
    color: rgb(31, 80, 119);
    font-weight: bold;
    padding: 5px 5px;
  }
  div#autorSite a:hover {
    background-color: rgb(31, 80, 119);
    color: white;
    text-decoration: none;
  }
  div#logoFooter {
    text-align: center;
  }
  div#logoFooter {
    text-align: right;
  }
  div#boxImgQuemSomos {
    padding: 0 0px 0 20px !important;
  }
  div#imgQuemSomos {
    height: 450px;
    background-size: cover !important;
    width: 100%;
  }
  div#tiutloUltimosEmpregosCadastrados {
    background: rgb(31, 80, 119);
    color: white;
    padding: 5px 5px;
    width: 50%;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 15px;
  }
  div#logoHeader img {
    width: 600px;
    margin: 30px 0 10px;
  }
  .logoContato img {
    width: 30%;
  }
}


/* CELULAR */

@media screen and (max-width: 980px) {
  div#btnCandidatarEmprego input {
    font-size: 10px;
  }
  div#boxFormContato label {
    margin: 20px 0 0px 0;
  }
  div#autorSite {
    text-align: center;
    margin: 30px 0 0 0;
    background-color: white;
    color: #000;
  }
  div#autorSite a {
    font-weight: bold;
  }
  div#copyright {
    text-align: center;
    background-color: white;
    color: #1F5077;
    font-weight: bold;
    font-size: 10px;
  }
  div#tituloPrincipalFundo,
  .tituloPrincipalFundo {
    font-size: 10px;
  }
  div#empregosDestaque {
    padding: 0;
  }
  div#empresaIconEmprego img {
    width: 20%;
    margin: 0 0 0 10px;
  }
  div#infoEmprego span {
    display: block;
    padding: 0;
  }
  .imgSlideshow {
    background-size: cover !important;
    width: 100%;
    height: 210px;
  }
  div#informacoesEmprego {
    padding: 0;
  }
  div#logoFooter {
    text-align: center;
  }
  .tipoLogin img {
    display: block;
    width: 30%;
    margin: 20px auto;
  }
  div#boxImgQuemSomos {
    padding: 0 !important;
    margin: 20px 0 0 0;
  }
  div#imgQuemSomos {
    height: 250px;
    background-size: cover !important;
    width: 100%;
  }
  div#tiutloUltimosEmpregosCadastrados {
    background: rgb(31, 80, 119);
    color: white;
    padding: 5px 5px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 15px;
  }
  div#logoHeader img {
    width: 50%;
    margin: 10px 0 10px;
  }
  .logoContato img {
    width: 50%;
  }
}


/*fim media query*/

.marginTop {
  margin-top: 10px;
}

.table-responsive {
  border: none;
}

.row,
.container-fluid {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Cantarell', sans-serif;
}

td#right-form {
  width: 25%;
}

pre {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-family: inherit;
  line-height: normal;
  border-radius: 0px;
}

.sucesso {
  background: #5cb85c;
  padding: 10px 10px;
  margin: 10px 0 10px 0;
  color: white;
}

.erro {
  background: #d9534f;
  padding: 10px 10px;
  margin: 10px 0 10px 0;
  color: white;
}

.aviso {
  background: #d9edf7;
  padding: 10px 10px;
  margin: 10px 0 10px 0;
  color: rgb(31, 80, 119);
}


/*pagina index*/

div#infoCandidato button {
  margin: 10px 0 0 0;
}

div#infoCandidato span {
  display: block;
}

option.optionInteresse {
  text-transform: uppercase;
}

div#tabEmpresa {
  margin: 20px 0 0 0;
}

.tabBuscaRapida .nav-tabs > li.active > a {
  background: none;
}

.tabBuscaRapida a:hover {
  border-radius: 0px;
  border: 1px solid white;
  background: none !important;
}

.tabBuscaRapida a {
  color: white !important;
}

.tabBuscaRapida li {
  background-color: rgb(31, 80, 119);
}

.tabBuscaRapida ul.nav.nav-tabs {
  margin: 10px 0 0 0;
  border: none;
}

div#menu {
  /*background-color: rgb(31, 80, 119);*/
}

div#ultimasEmpresasCadastradas a {
  color: initial;
}

.imgEmpresa {
  background-size: cover !important;
  height: 50px;
  /* width: 50px; */
}

div#infoEmprego a:hover {
  text-decoration: none;
}

div#imagemEmprego {
  height: 100px;
  width: 100px;
}

button.marginCimaBaixo.btn.btn-primary {
  font-size: 12px;
}

div#empresaIconEmprego {
  padding: 0;
  text-align: left;
  border-left: 3px solid rgb(31, 80, 119);
  margin: 0 -20px 0 0;
}

div#boxLogin a {
  color: rgb(31, 80, 119);
  font-weight: bold;
}

div#ultimosEmpregosCadastrados button {
  font-size: 12px;
}


/*footer*/

div#logoFooter {
  background-color: white;
  text-align: center;
}

div#menuFooter nav {
  text-align: center;
}

div#logoFooter img {
  width: 80%;
}

div#logoFooter img {
  width: 80%;
  background-color: white;
  padding: 30px;
}

div#logoHeader {
  text-align: center;
}

.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
  margin: 0;
}

.navbar-header {
  background-color: rgb(31, 80, 119);
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFF;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: rgb(31, 80, 119);
}

nav.navbar.navbar-default {
  background: rgb(31, 80, 119);
  border: none;
  min-height: auto;
  border-radius: 0px;
}

div#bs-example-navbar-collapse-1 {
  padding: 0;
}

#menu a:hover {
  color: #1F5077;
  background: white;
  border-radius: 0px;
}

div#content {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
}

div#buscaRapida {
  padding: 10px 20px;
  background: rgb(31, 80, 119);
}

#spanTituloBuscaRapida {
  font-size: 20px;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

div#buscaRapida select {
  margin: 10px 0 20px 0;
  border-radius: 0px;
}

input#btnPesquisaRapida {
  color: #fff;
  width: 100%;
  font-weight: bolder;
  border: none;
  padding: 10px 10px;
  background: rgb(31, 80, 119);
  border: 2px solid #fff;
}

div#slideshow {
  padding: 0 15px 0 0;
  margin: 0 0 10px 0;
}

.owl-page span {
  background: rgb(31, 80, 119) !important;
}

.owl-page.active span {
  background: white !important;
  border: 2px solid rgb(31, 80, 119);
}

div#tituloPrincipalFundo,
.tituloPrincipalFundo {
  background: rgb(31, 80, 119);
  color: white;
  padding: 5px;
}

div#infoEmprego span {
  color: #666666;
}

div#empresaIcon {
  background: url('../img/empresaIcon.png') 0% 0% no-repeat;
  background-size: contain;
  height: 50px;
}

div#ultimosEmpregosCadastrados #emprego {
  font-size: 13px;
}

font#spanEmprego {
  color: #666666;
  font-weight: bold;
  display: block;
}

div#boxCadastrarCurriculum .col-md-9,
div#boxCadastrarCurriculum .col-md-12,
div#boxCadastrarCurriculum .col-md-6,
div#boxCadastrarCurriculum .col-md-3 {
  padding: 0;
}

.tituloCadastrarCurriculum {
  background: rgb(31, 80, 119);
  color: white;
  padding: 5px 5px;
  font-weight: bold;
  font-size: 15px;
  margin: 0 0 20px 0;
}

div#boxCadastrarCurriculum input[type="email"],
div#boxCadastrarCurriculum input[type="password"] {
  background: rgb(31, 80, 119);
  border-radius: 0px;
  border: none;
  color: white;
  margin: 0 0 20px 0;
}

div#boxCurriculum {
  padding: 0;
}

div#boxCadastrarCurriculum input[type="email"]::-webkit-input-placeholder,
div#boxCadastrarCurriculum input[type="password"]::-webkit-input-placeholder {
  color: #fff;
}

div#boxCadastrarCurriculum input[type="email"]:-moz-placeholder,
div#boxCadastrarCurriculum input[type="password"]:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}

div#boxCadastrarCurriculum input[type="email"]::-moz-placeholder,
div#boxCadastrarCurriculum input[type="password"]::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}

div#boxCadastrarCurriculum input[type="email"]:-ms-input-placeholder,
div#boxCadastrarCurriculum input[type="password"]:-ms-input-placeholder {
  color: #fff;
}

#btnEntrarCv {
  border-radius: 0px;
  font-weight: bold;
  color: rgb(31, 80, 119);
  border: 2px solid rgb(31, 80, 119);
  background-color: white;
  padding: 5px 50px;
  float: left;
}

div#cvIcon {
  background: url('../img/cv.png') 100% 0% no-repeat;
  height: 90px;
  background-size: contain;
}

div#tituloEmpresasCadastradas {
  background: rgb(31, 80, 119);
  padding: 5px 5px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 20px;
}

font#spanEmpresa {
  font-weight: bold;
  color: rgb(31, 80, 119);
}

div#infoEmpresa {
  font-size: 13px;
  padding: 0 0 0 5px;
}

div#ultimasEmpresasCadastradas a:hover {
  font-weight: bold;
}

#ultimosEmpregosCadastrados {
  padding: 0;
}

div#ultimosEmpregosCadastrados #empresaIcon {
  width: 50px;
  height: 50px;
}

div#ultimosEmpregosCadastrados #infoEmprego {
  line-height: 20px;
}

div#footer {
  background: rgb(31, 80, 119);
  color: rgb(255, 255, 255);
  border-top: 5px solid rgb(31, 79, 118);
  padding: 20px 0;
  margin: 20px 0;
}

div#contentFooter {
  width: 80%;
  margin: 0 auto;
}

div#contentFooter .col-md-4 {
  padding: 0;
}

div#boxFooterSocial {
  margin-bottom: 30px;
}

div#menuFooter {
  margin-bottom: 30px;
}

div#imgGoogle {
  background: url('../img/socialFooter.png') 0% 0% no-repeat;
  height: 40px;
  width: 40px;
}

div#imgFacebook {
  background: url('../img/socialFooter.png') 0% 100% no-repeat;
  height: 40px;
  width: 40px;
}

div#menuFooter a {
  color: white;
  font-size: 15px;
  text-decoration: underline;
}

div#infoFooter {
  text-align: center;
  margin: 20px 0 0 0;
  font-size: 15px;
}

div#contentFooter {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0 20px 0;
}

div#google {
  margin-bottom: 20px;
}


/*pagina anuncie*/

form#formLoginAnuncie input[type="submit"] {
  float: none;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

div#boxAnuncie caption {
  margin-bottom: 20px;
  margin-right: -50px;
}

div#boxAnuncie {
  margin-top: 30px;
  margin-bottom: 30px;
}

div#boxAnuncie table {
  margin: 0 auto;
  width: 50%
}

#boxAnuncie form tr label {
  padding: 0 20px 0 0;
}

#boxAnuncie form tr {
  text-align: right;
}

#boxAnuncie form input,
#boxAnuncie form textarea,
#boxAnuncie form select {
  width: 100%;
  margin: 10px 0 20px 0;
}

#boxAnuncie form textarea {
  height: 200px;
}

#boxAnuncie input[type="submit"] {
  width: 50%;
  float: right;
  background: rgb(31, 80, 119);
  border: none;
  border-radius: 0px;
  color: white;
}

td#tdDireito {
  width: 25%;
}


/*pagina quem somos*/

div#boxQuemSomos {
  padding: 30px 0 30px 0;
  width: 80%;
  margin: 0 auto;
}

div#infoQuemSomos {
  padding: 0 15px 0 0;
}

div#infoQuemSomos {
  padding: 0 15px 0 0;
  text-align: justify;
  font-size: 15px;
}


/*pagina empregos*/

.alteraEmprego a {
  color: #fff;
  background-color: rgb(31, 80, 119);
  padding: 5px 45px;
  transition: all 0.1s ease-in-out;
  text-decoration: none;
  border: 1px solid;
}

.alteraEmprego {
  margin: 0px 0 20px 0;
  font-size: 15px;
  padding: 0;
}

.cadastrarEmprego a {
  color: #fff;
  background-color: rgb(31, 80, 119);
  padding: 5px 45px;
  transition: all 0.1s ease-in-out;
  text-decoration: none;
  border: 1px solid;
}

.cadastrarEmprego a:hover {
  color: rgb(31, 80, 119);
  background-color: #fff;
}

.cadastrarEmprego {
  margin: 0px 0 20px 0;
  font-size: 25px;
}

span.spanInfoEmprego {
  padding: 5px 0 5px 0;
}

div#tiutloEmpregosDestaqueEmpregos {
  background: rgb(31, 80, 119);
  color: white;
  padding: 5px 5px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 15px;
}

div#empregosDestaqueEmpregos {
  padding: 0 15px 0 0;
}


/*pagina contato*/

div#boxFormContato {
  padding: 0 15px 0 0;
}

div#boxFormContato table {
  width: 100%;
}

div#boxFormContato table {
  width: 100%;
  line-height: 70px;
}

div#boxFormContato input[type="submit"] {
  background: rgb(31, 80, 119);
  border: none;
  border-radius: 0px;
  color: white;
  width: 50%;
  margin: 20px 0 20px;
  margin-top: 20px;
}

div#boxFormContato textarea {
  height: 150px;
  margin: 0px 0 0 0;
}

div#boxInfoContato {
  padding: 0;
}

div#boxInfoContato span {
  display: block;
  margin-bottom: 10px;
}

div#boxInfoContato h3 {
  text-align: center;
}

.logoContato {
  text-align: center;
}

div#telefonesContato {
  margin: 0px 0px 0 0;
  font-size: 20px;
}

div#boxInfoContato h3 {
  text-align: center;
  color: rgb(31, 80, 119);
  font-weight: bold;
}

div#telefonesContato a {
  color: rgb(31, 80, 119);
}


/*pagina login*/

.tipoLogin input[type="radio"] {
  margin: 0 20px 0 10px;
}

div#formularios-login {
  width: 80%;
  margin: 0 auto;
}


/*pagina cadastro*/

.boxPlano {
  background-color: #e8e8e8;
  padding: 10px 20px;
}

.nomePlano {
  color: rgb(31, 80, 119);
  text-align: center;
  font-weight: bold;
}

.infoPlano {
  text-align: center;
  font-size: 15px;
  margin: 20px 0 10px 0;
}

div#boxCadastrar {
  margin: 0 auto;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
}

div#boxCadastrar table {
  width: 100%;
  margin: 20px 0 20px 0;
}

div#boxCadastrar table td#right-form {
  text-align: right;
  padding: 0 20px 10px 0px;
}

div#boxCadastrar input[type="email"],
div#boxCadastrar input[type="text"],
div#boxCadastrar input[type="password"],
div#boxCadastrar textarea,
div#boxCadastrar select,
div#boxCadastrar button {
  margin-top: 10px;
}

div#boxCadastrar button {
  float: right;
}


/*pagina cadastrarCv*/

div#boxCadastrar textarea {
  height: 200px;
}


/*pagina emprego*/

div#boxCandidatarEmprego span {
  display: block;
  margin-bottom: 20px;
}

div#boxCandidatarEmprego a {
  color: white;
  text-decoration: none;
}

div#boxCandidatarEmprego input {
  margin: 10px 0 10px 0;
  width: 100%;
}


/*pagina cadastro empresa*/

.fileinput {
  margin-bottom: 9px;
  display: inline-block;
  margin: 30px 0px 10px auto;
  width: 100%;
  text-align: c;
  text-align: center;
}

#formCadastroEmpresa label,
#boxCadastrar label {
  margin: 10px 0 0 0;
}

.boxPlano input[type="radio"] {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.boxPlano h1,
.boxPlano h2 {
  display: -webkit-inline-box;
}

.precoPlano {
  color: rgb(92, 184, 92);
}

.boxPlano span {
  display: block;
}


/*pagina empresa*/

div#imgEmpresa {
  height: 400px;
  background-size: contain !important;
  width: 50%;
}

div#copyright {
  padding: 20px 0;
}

div#informacoesEmprego label {
  display: block;
  /* margin-bottom: 10px; */
  margin: 10px 0 10px 0;
  border-bottom: 1px solid #1F5077;
}

.imagemCandidato {
  height: 200px;
  width: 200px;
  margin: 0 auto;
}

div#menu a {
  font-size: 14px;
  color: white;
}

.semPadding {
  padding: 0px;
}

.semMargin {
  margin: 0px;
}

.marginCimaBaixo {
  margin: 10px 0;
}

.imagemUsuario {
  height: 100px;
  width: 100px;
  background-size: cover !important;
}

div#infoEmprego b {
  display: block;
}

div#perguntasSuporte a {
  color: initial;
}
